CompileFlags:
  Add: [
    -D_CRT_SECURE_NO_WARNINGS,
    -Wall,
    -Wpedantic,
  ]
---
If:
  PathMatch: .*/*.[ch](pp)?
CompileFlags:
  Add: [
    -I../../include,
  ]
---
If:
  PathMatch: .*/.*/*.[ch](pp)?
CompileFlags:
  Add: [
    -I../../../include,
  ]
---
If:
  PathMatch: .*\.[ch]
CompileFlags:
  Add: [
    -xc,
  ]
---
If:
  PathMatch: .*\.[ch]pp
CompileFlags:
  Add: [
    -xc++,
  ]
